<a href="https://colab.research.google.com/github/2SUBDA/Breakouts/blob/Week2/CoachDescribeExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import packages for analysis and modeling
import pandas as pd #data frame operations
import numpy as np #arrays and math functions
from scipy.stats import uniform #for training and test splits
import statsmodels.api as smf #R-like model specification
import matplotlib.pyplot as plt #2D plotting

C:\Users\datab\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [0]:
 # read in Coaches data and create data frame
Coaches = pd.read_excel("coaches_modify.xlsx")

print(pd.DataFrame.head(Coaches))

Coaches.describe()

                  School      Conf              Coach  NCAAFBREV16  \
0              Air Force  Mt. West       Troy Calhoun   59577780.0
1                  Akron       MAC       Terry Bowden   35331217.0
2                Alabama       SEC         Nick Saban  174307419.0
3  Alabama at Birmingham     C-USA         Bill Clark   24795218.0
4      Appalachian State  Sun Belt  Scott Satterfield   35058621.0

   MedianConfSal  SchoolPay   TotalPay      Bonus  BonusPaid  \
0       879288.0   885000.0   885000.0   247000.0        NaN
1       492413.0   411000.0   412500.0   225000.0    50000.0
2      3929800.0  8307000.0  8307000.0  1100000.0   500000.0
3       782787.0   900000.0   900000.0   950000.0   165471.0
4       675000.0   712500.0   712500.0   295000.0   145000.0

   PayPlusBonus2016          ...            Combo Rank  TrueRank     W    L  \
0          885000.0          ...             64.666667        67  10.0  3.0
1          462500.0          ...             10.666667       129   5.0  7.0
2         8807000.0          ...            111.333333         5  14.0  1.0
3         1065471.0          ...             55.333333        77   NaN  NaN
4          857500.0          ...             19.666667       122  10.0  3.0

       Ratio  OffenceScore  Defense Score  Score  PointsPerGame  \
0   3.333333          4.96          -0.87   4.09          78.16
1   0.714286         -0.40          -6.12  -6.52          72.64
2  14.000000          8.01          17.62  25.62          90.38
3        NaN           NaN            NaN    NaN            NaN
4   3.333333         -0.86           9.68   8.83          70.76

   OpponentPointsPerGame
0                 -16.88
1                  -8.13
2                 -38.83
3                    NaN
4                 -25.81

[5 rows x 31 columns]

,NCAAFBREV16,MedianConfSal,SchoolPay,TotalPay,Bonus,BonusPaid,PayPlusBonus2016,AssistantPay,Buyout,StadSize,...,Combo Rank,TrueRank,W,L,Ratio,OffenceScore,Defense Score,Score,PointsPerGame,OpponentPointsPerGame
count,1.100000e+02,1.300000e+02,1.240000e+02,1.240000e+02,1.070000e+02,7.000000e+01,1.250000e+02,0.0,1.060000e+02,130.000000,...,130.000000,130.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000
mean,7.771661e+07,2.161691e+06,2.398722e+06,2.405537e+06,8.741782e+05,1.879734e+05,2.522326e+06,NaN,8.195703e+06,51761.615385,...,63.453846,65.269231,6.756522,6.008696,1.837571,0.694870,0.451304,1.146087,76.262696,-18.371565
std,4.789655e+07,1.326917e+06,1.884533e+06,1.888978e+06,6.346974e+05,2.540554e+05,1.976870e+06,NaN,1.048086e+07,23506.430870,...,28.094341,37.687781,3.030811,2.436908,2.336821,6.066973,6.420503,9.311993,7.607960,7.696191
min,1.613242e+07,4.924130e+05,3.900000e+05,3.900000e+05,5.000000e+04,1.000000e+04,3.900000e+05,NaN,0.000000e+00,9214.000000,...,10.666667,1.000000,1.000000,1.000000,0.090909,-13.010000,-11.120000,-18.860000,60.550000,-38.830000
25%,3.455514e+07,7.827870e+05,8.011280e+05,8.051385e+05,3.950000e+05,5.000000e+04,8.500000e+05,NaN,1.208333e+06,30973.000000,...,40.833333,32.000000,4.000000,4.000000,0.500000,-3.615000,-4.035000,-6.215000,70.435000,-23.540000
50%,6.237636e+07,2.458032e+06,1.830790e+06,1.865794e+06,7.750000e+05,8.562500e+04,2.000000e+06,NaN,4.018758e+06,50000.000000,...,65.000000,65.000000,7.000000,6.000000,1.166667,0.350000,-0.580000,1.680000,75.160000,-18.200000
75%,1.116415e+08,3.775000e+06,3.563750e+06,3.566875e+06,1.150000e+06,2.332500e+05,3.707500e+06,NaN,1.142250e+07,66147.250000,...,83.666667,97.750000,9.000000,8.000000,2.250000,4.835000,4.935000,8.050000,81.130000,-13.265000
max,2.148306e+08,3.929800e+06,8.307000e+06,8.307000e+06,3.100000e+06,1.350000e+06,8.807000e+06,NaN,6.812500e+07,107601.000000,...,126.333333,129.000000,14.000000,11.000000,14.000000,14.640000,17.620000,25.620000,92.540000,-0.990000

In [0]:
Coaches.describe()

,NCAAFBREV16,MedianConfSal,SchoolPay,TotalPay,Bonus,BonusPaid,PayPlusBonus2016,AssistantPay,Buyout,StadSize,...,Combo Rank,TrueRank,W,L,Ratio,OffenceScore,Defense Score,Score,PointsPerGame,OpponentPointsPerGame
count,1.100000e+02,1.300000e+02,1.240000e+02,1.240000e+02,1.070000e+02,7.000000e+01,1.250000e+02,0.0,1.060000e+02,130.000000,...,130.000000,130.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000
mean,7.771661e+07,2.161691e+06,2.398722e+06,2.405537e+06,8.741782e+05,1.879734e+05,2.522326e+06,NaN,8.195703e+06,51761.615385,...,63.453846,65.269231,6.756522,6.008696,1.837571,0.694870,0.451304,1.146087,76.262696,-18.371565
std,4.789655e+07,1.326917e+06,1.884533e+06,1.888978e+06,6.346974e+05,2.540554e+05,1.976870e+06,NaN,1.048086e+07,23506.430870,...,28.094341,37.687781,3.030811,2.436908,2.336821,6.066973,6.420503,9.311993,7.607960,7.696191
min,1.613242e+07,4.924130e+05,3.900000e+05,3.900000e+05,5.000000e+04,1.000000e+04,3.900000e+05,NaN,0.000000e+00,9214.000000,...,10.666667,1.000000,1.000000,1.000000,0.090909,-13.010000,-11.120000,-18.860000,60.550000,-38.830000
25%,3.455514e+07,7.827870e+05,8.011280e+05,8.051385e+05,3.950000e+05,5.000000e+04,8.500000e+05,NaN,1.208333e+06,30973.000000,...,40.833333,32.000000,4.000000,4.000000,0.500000,-3.615000,-4.035000,-6.215000,70.435000,-23.540000
50%,6.237636e+07,2.458032e+06,1.830790e+06,1.865794e+06,7.750000e+05,8.562500e+04,2.000000e+06,NaN,4.018758e+06,50000.000000,...,65.000000,65.000000,7.000000,6.000000,1.166667,0.350000,-0.580000,1.680000,75.160000,-18.200000
75%,1.116415e+08,3.775000e+06,3.563750e+06,3.566875e+06,1.150000e+06,2.332500e+05,3.707500e+06,NaN,1.142250e+07,66147.250000,...,83.666667,97.750000,9.000000,8.000000,2.250000,4.835000,4.935000,8.050000,81.130000,-13.265000
max,2.148306e+08,3.929800e+06,8.307000e+06,8.307000e+06,3.100000e+06,1.350000e+06,8.807000e+06,NaN,6.812500e+07,107601.000000,...,126.333333,129.000000,14.000000,11.000000,14.000000,14.640000,17.620000,25.620000,92.540000,-0.990000

In [0]:
# System Information
import platform

print('Python is ' + platform.python_version())

pd.show_versions(as_json=False)

Python is 3.6.4

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.22.0
pytest: 3.3.2
pip: 9.0.1
setuptools: 38.4.0
Cython: 0.27.3
numpy: 1.11.3
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 6.2.1
sphinx: 1.6.6
patsy: 0.5.0
dateutil: 2.6.1
pytz: 2017.3
blosc: None
bottleneck: 1.2.1
tables: 3.4.2
numexpr: 2.6.4
feather: None
matplotlib: 2.1.2
openpyxl: 2.4.10
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.0.2
lxml: 4.1.1
bs4: 4.6.0
html5lib: 1.0.1
sqlalchemy: 1.2.1
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None