<a href="https://colab.research.google.com/github/2SUBDA/Breakouts/blob/Week4/TimeForRetailProphet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Another alternative for building time series models at scale.  Based on the research from facebook - [Prophet](https://research.fb.com/prophet-forecasting-at-scale/) - allows the user to quickly produce high quality forecasts with the ability to adjust multiple parameters.
Initial code modeled after Digital Ocean's [tutorial](https://www.digitalocean.com/community/tutorials/a-guide-to-time-series-forecasting-with-prophet-in-python-3).

In [0]:
# If error with import Prophet try
# !pip install fbprophet

In [0]:
%matplotlib inline
import pandas as pd
from fbprophet import Prophet

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/2SUBDA/Breakouts/master/Week4/OnCampusWeeklyData.csv')
df.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1   2/5/2010      24924.50      False
1      1     1  2/12/2010      46039.49       True
2      1     1  2/19/2010      41595.55      False
3      1     1  2/26/2010      19403.54      False
4      1     1   3/5/2010      21827.90      False